.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  max-height: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.empty_place {
  width: calc(var(--offset-base-size) * 5 + 4px);
}

.type_list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 5);
  height: 100%;
  margin: calc(var(--offset-base-size) * 5) 0;
  overflow-y: scroll;
}

.type_item {
  display: flex;
  flex-flow: row nowrap;
  align-content: space-between;
  align-items: center;
  gap: calc(var(--offset-base-size) * 5);
}

.totall {
  display: flex;
  flex-flow: row nowrap;
  place-content: space-between flex-end;
  align-items: center;
  gap: calc(var(--offset-base-size) * 5);
  margin-top: 2em;
}

.totall_price {
  margin: 0;
}

.dragging {
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  transform: rotate(3deg);
}

.empty_bun_top {
  display: inline-block;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  margin-left: 40px;
  padding: 16px 24px;
  color: #f2f2f3;
  font-size: 16px;
  font-family: 'Jet Brains Mono', sans-serif;
  line-height: 24px;
  text-align: center;
  background: var(--background-element);
  border-radius: var(--top-constructor-item-border-radius);
}

.empty_bun_bottom {
  display: inline-block;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  margin-left: 40px;
  padding: 16px 24px;
  color: #f2f2f3;
  font-size: 16px;
  font-family: 'Jet Brains Mono', sans-serif;
  line-height: 24px;
  text-align: center;
  background: var(--background-element);
  border-radius: var(--bottom-constructor-item-border-radius);
}

.empty_ingredients {
  display: inline-block;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  margin-left: 40px;
  padding: 16px 24px;
  color: #f2f2f3;
  font-size: 16px;
  font-family: 'Jet Brains Mono', sans-serif;
  line-height: 24px;
  text-align: center;
  background: var(--background-element);
  border-radius: var(--common-border-radius-s);
}
