.container {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 2em 0;
  overflow: hidden;
}

.orders_list_wrap {
  max-height: calc(100vh - 300px); /* Ограничение высоты с учётом заголовка и отступов */
  padding-right: 8px; /* Отступ для скролла */
  overflow-y: auto;
}

/* Стилизация скроллбара для WebKit браузеров */

.orders_list_wrap::-webkit-scrollbar {
  width: 8px;
}

.orders_list_wrap::-webkit-scrollbar-track {
  background: var(--background-element);
  border-radius: 4px;
}

.orders_list_wrap::-webkit-scrollbar-thumb {
  background: var(--text-inactive-color);
  border-radius: 4px;
}

.orders_list_wrap::-webkit-scrollbar-thumb:hover {
  background: var(--colors-interface-accent);
}

.orders_list {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.orders_info {
  display: flex;
  flex-direction: column;
}

.orderData {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  padding: 2em;
  background: var(--background-element);
  border-radius: 2em;
}

.orderData a {
  color: var(--text-primary-color);
  text-decoration: none;
}
